.nav a {
  color: #000000;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;

}

.nav li {
  display: inline;
  color: #0099ff;
}

.jumbotron {
  background-image:url('http://2.media.dorkly.cvcdn.com/13/89/336a28215c215237ff39636e06e035cb.gif');
  height: 500px;
  background-repeat: repeat;
  background-size: 500px;
  color: #0099ff;
}

.jumbotron .container {
  position: relative;
  top:100px;
  
}

.jumbotron h1 {
  color: #ccccff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #ccccff;
}


    
